@import "tailwindcss";

:root {
  --color-primary: #222a35;
  --color-primary-hover: #1a2029;
  --color-secondary: #97999b;
  --color-light: #e9e4cc;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-secondary: var(--color-secondary);
  --color-light: var(--color-light);
}

body {
  color: var(--color-primary);
}
